/* ---------------------------------------------------------------------------------------- DEFAULT*/
* {
    padding: 0;
    margin: 0;
    color: white;
    background-color: #212529 !important;
}
/* ---------------------------------------------------------------------------------------- NAVBAR*/

a > i {
    color: white;
    font-size: 30px;
}

/* ---------------------------------------------------------------------------------------- HOME*/

.homearea,
.aboutarea,
.toolarea,
.projectarea,
.exparea,
.eduarea {
    border-style: solid;
    border-color: red;
    padding: 5%;
}

.homearea > h1,
.homearea > h2,
.homearea > h6,
.homearea > p{
    padding-top: 10px;
}
.homearea > h1{
    font-size: 80px;
}

.homearea > h2 {
    font-size: 40px;
}
/* ---------------------------------------------------------------------------------------- NAVBAR*/
/* ---------------------------------------------------------------------------------------- NAVBAR*/
/* ---------------------------------------------------------------------------------------- NAVBAR*/
/* ---------------------------------------------------------------------------------------- NAVBAR*/
/* ---------------------------------------------------------------------------------------- NAVBAR*/
/* ---------------------------------------------------------------------------------------- NAVBAR*/
/* ---------------------------------------------------------------------------------------- NAVBAR*/